@charset "UTF-8";

.title {
	color: green;
}

.listContainer {
	display: table;
	margin: auto;
	text-align: center;
}

.bookList {
	list-style-type: none;
	padding-left : 0;
}

.bookDetails,
.updateBook,
.addBook {
	padding: 5px;
	display: none;
	text-align: center;
}

table, td, tr {
	margin: auto;
	border: 2px black solid;
}