@charset "UTF-8";

body {
    background: #E9E49D url("../images/background.jpg") repeat;
    font-weight: bold;
    text-align: center;
}

.title {
    color: green;
    padding: 1rem;
}

.list-container {
    display: table;
    margin: auto;
}

.book-list {
    list-style-type: none;
    padding-left : 0;
}

.book-details,
.update-book,
.add-book {
    padding: 5px;
    display: none;
}

table, td, tr {
    margin: auto;
    border: 2px black solid;
}
.add-book-button {
    margin-top: 2rem;
}

.database-selection {
    padding: 0 1rem 1rem 1rem;
}

.tempclass {
    margin: 2rem auto;
    background-color: wheat;
    border-radius: 5px;
    width: fit-content;
    -webkit-box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.75);
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.75);
}